services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  node_exporter:
    image: prom/node-exporter
    container_name: node_exporter
    ports:
      - "9100:9100"

  ai-monitor:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: ai-monitor
    ports:
      - "8000:8000"
    depends_on:
      prometheus:
        condition: service_started
